.App {
  text-align: center;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  overflow: hidden;
  background: radial-gradient(ellipse at bottom, #1b2735 0%,#090a0f 100%);
}

.mirrored {
  -moz-transform: scaleX(-1);
  -o-transform: scaleX(-1);
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
  filter: FlipH;
  -ms-filter: "FlipH";
}

.dropdown {
  display: flex;
  width: 100%;
  justify-content: space-evenly;
}

#acorns {
  width: 50%;
  margin-left: 25%;
}

.description {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.modaling {
  display: flex;
  flex-direction: column;
  align-items: center;
}